{% extends "comman.html" %}
{% load static %}

{% block title %}

ticket
{% endblock %}

{% block content %}



<div class="page-header error-page header-filter" style="background-image: url('{% static 'img/gndu1.jpg' %}')">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title">You already registered ! </h1>
		
		<div class="tim-note">
              <h2>
              Your Registrstion Number : #WITTY_ {{ id }}</h2>
            </div>
            <a href= "{% url 'events:detailevent' event.event_name  %}" class="btn btn-primary">show event details</a>
        </div>
      
      </div>
    </div>
  </div>

{% endblock %}