{% extends "comman.html" %}
{% load static %}
   {% block content %}
 
   {% if messages %}
   <div class="alert alert-success" role="alert">
   {% for message in messages %}
   <div>{{ message }}</div>
   {% endfor %}
   </div>
   {% endif %}
   
          
    {% block css %} <style class="cp-pen-styles">h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:SlateBlue;
  text-align: center; 
  text-decoration: underline
}
<div class="page-header header-filter" filter-color="purple" style="background-image: url('{% static 'img/bg7.jpg' %}'); background-size: cover; background-position: top center;">
  <div class="container">
  <div class="">
      <div class="">
      <div class="card card-signup">
        <h2 class="card-title text-center">Register</h2>
        <div class="card-body">
table{
  font-family: Calibri; 
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:; 
  background-color: SlateBlue; 
  border-collapse: collapse; 
  border: 2px solid navy
}
table.inner{
  border: 0px
}</style>
{% endblock %}

       

  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'img/3bg.jpg' %}');">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
                  <h1 class="title">Register</h1>
                      <h4></br></h4>
              </div>
          </div>
      </div>
</div>
<div class="main main-raised">
<div class="container">

           <!--<div class="col-md-4">Name</div>-->
            <!--<div class="col-md-4">-->

           <!--{{ form.name }}-->
       <!--</div>-->
       <!--</div>-->

        <!--<div class="col-md-12">-->

           <!--{{ form.roll_no }}-->
       <!--</div>-->
        <!--<div class="col-md-12">-->

           <!--{{ form.department_name }}-->
       <!--</div>-->
        <!--<div class="col-md-12">-->

           <!--{{ form.semester }}-->
       <!--</div>-->
        <!--<div class="col-md-12">-->

           <!--{{ form.email_id }}-->
       <!--</div>-->
       <!--<div class="col-md-12">-->

           <!--{{ form.mobile_number }}-->
       <!--</div>-->
           <!--<div class="col-md-12">-->

           <!--{{ form.password }}-->
       <!--</div>-->
           <!--<div class = 'col-12'>{{ form.as_p }}</div>-->
 <form class="form" method="post" action="">
             {% csrf_token %}

             {% for field in form %}
        <h4 style="color:black" for="{{ field.name }}">{{ field.label }}</h4>
        {{ field }}&nbsp

    {% endfor %}
    <input type="password" name="password" class="form-group input-group" placeholder=" confirm Password" maxlength="100" required="" id="id_password1">

       <button class = "btn btn-primary" type = "submit">Submit </button>
        </form>






 

   <!--<table class="table">-->
  <!--<thead>-->
    <!--<tr class ='col-md-4'>-->
      <!--<td scope="col"></td>-->
      <!--<td scope="col">name</td>-->
      <!--<td scope="col" style="width:500px">{{ form.name }}</td>-->
      <!---->
    <!--</tr>-->
  <!--</thead>-->


<!--<thead>-->
    <!--<tr class ='col-md-4'>-->
      <!--<td scope="col"></td>-->
      <!--<td scope="col">department_name</td>-->
      <!--<td scope="col" style="width:500px">{{ form.department_name }}</td>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<thead>-->
    <!--<tr class ='col-md-4'>-->
      <!--<td scope="col"></td>-->
      <!--<td scope="col">roll_no</td>-->
      <!--<td scope="col" style="width:500px">{{ form.roll_no }}</td>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<thead>-->
    <!--<tr class ='col-md-4'>-->
      <!--<td scope="col"></td>-->
      <!--<td scope="col">semester</td>-->
      <!--<td scope="col" style="width:500px">{{ form.semester }}</td>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<thead>-->
    <!--<tr class ='col-md-4'>-->
      <!--<td scope="col"></td>-->
      <!--<td scope="col">email_id</td>-->
      <!--<td scope="col" style="width:500px">{{ form.email_id }}</td>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<thead>-->
    <!--<tr class ='col-md-4'>-->
      <!--<td scope="col"></td>-->
      <!--<td scope="col">mobile_number</td>-->
      <!--<td scope="col" style="width:500px">{{ form.mobile_number }}</td>-->
  <!--</tr>-->
  <!--</thead>-->
 <!---->
    <!--<tr class ='col-md-4'>-->
      <!--<td scope="col"></td>-->
      <!--<td scope="col">password</td>-->
      <!--<td scope="col" style="width:500px">{{ form.password }}</td>-->
  <!--</tr>-->
  <!--</thead>-->
    <!--</thead>-->
 <!---->
    <!--<tr class ='col-md-4'>-->
      <!--<td scope="col"></td>-->
      <!--<td scope="col">Confirm password</td>-->
      <!--<td scope="col" style="width:500px"><input type="text" name="password2" maxlength="100" required id="id_password"></td>-->
  <!--</tr>-->
  <!--</thead>-->

<!--<button type="submit" class="btn btn-primary btn-round">REgister</button>-->
 <!--<div class="text-center">-->
    <!--<button type="submit" class="btn btn-primary btn-round">Get Started</button>-->
   <!--</a>-->
  <!--</div>-->
    <!--</div> -->

         <!--</form> -->
  <!---->

</div>
</div>
</form>
</div>


         {% endblock %}
{% block js %}<script>

  
  function pass_validation(){

  var password = document.getElementById("id_password");
  var password_confirm = document.getElementById("id_password1");
  var pass_message = document.getElementById("pass_confirm");
    
  if(password.value == password_confirm.value){
    
    
  }else{
    alert("password does not match");
    
  }
  console.log("password.value");
  }

</script>{% endblock %}