{% extends "comman.html" %}

   {% block content %}
 <br/><br/><br/><br/>
   {% if messages %}
   <div class="alert alert-success" role="alert">
   {% for message in messages %}
   <div>{{ message }}</div>
   {% endfor %}
   </div>
   {% endif %}
   <div class="container" style="background-color: rgb(255,255,255);">
   <form method = 'post'  action = "" >
       {% csrf_token %}
       
      <!--  <div class='row'>

           <div class="col-md-4">Name</div>
            <div class="col-md-4">

           {{ form.name }}
       </div>
       </div>
      
        <div class="col-md-4">

           {{ form.roll_no }}
       </div>
        <div class="col-md-4">

           {{ form.department_name }}
       </div>
        <div class="col-md-4">

           {{ form.semester }}
       </div>
        <div class="col-md-4">

           {{ form.email_id }}
       </div>
       <div class="col-md-4">

           {{ form.mobile_number }}
       
       <button class = "btn btn-primary" type = "submit">Submit </button>
     </div> -->


 

   <table class="table">
  <thead>
    <tr class ='col-md-4'>
      <td scope="col"></td>
      <td scope="col">name</td>
      <td scope="col" style="width:500px">{{ form.name }}</td>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="col"></td>
      <td scope="row">rall-no</td>
      <td> {{ form.roll_no }}</td>
      
    </tr>
   </div>
<table>
     </form>
       {% endblock %}



         </form>