{%   extends "comman.html" %}

{% load static %}
{% block title %}
ERROR
{% endblock %}

{% block content %}
<body class="error-page sidebar-collapse">
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Google Tag Manager (noscript) -->
  

 <div class="page-header error-page header-filter" style="background-image: url('{% static 'img/gndu1.jpg' %}')">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title">404</h1>
          <h2 class="description">Page not found :(</h2>
          <h4 class="description">Ooooups! Looks like you got lost.</h4>
        </div>
      </div>
    </div>
  </div>
 </body>
{% endblock %}